@import 'tailwindcss';

td {
  @apply text-center font-bold border border-solid py-1 md:py-2 px-3;
}

th {
  @apply text-center font-bold border border-solid;
}

.th-row {
  @apply py-1 md:py-2 px-3;
}

.fullname {
  @apply hidden sm:inline;
}

.shortname {
  @apply inline sm:hidden;
}

.th-col {
  @apply h-10 sm:h-15 py-1 px-0;
}

td {
  @apply h-10 sm:h-15 overflow-hidden;
}

.cell-layout {
  @apply flex flex-col sm:flex-row-reverse justify-center items-center;
}

.btn-edit {
  @apply w-10;
}
